#Navbar{
    background-color: rgb(223,0,0);
    height: 110px;
    display: flex;
    justify-content: space-between;
    padding: 2% 15%;
    align-items: center;
}
#allCategoriesBtn{ 
    background-color: rgb(223,0,0);
    border: solid white;
}
#categoriesList button{
    display: block;
    font-size: 16px;
    background-color: white;
    border: none;
    margin: 10px 0;
}
#searchBar {
    width: 40%;
}
#searchBar input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
}
#myShopBtn{
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(223,0,0);;
    border: none;
}

/*-------------HOMEPAGE MAIN-SLIDE-----------------------*/

.slide {
    width: 80%;
    border-radius: 8px;
    margin: 0% auto;
    margin-top: 50px;
}

.carousel-inner{
    border-radius: 8px;

}

/*--------------HOMEPAGE FEATURED CATEGORIES----------------------*/

.subtitle-homepage{
    margin: 5% 0 0 10%;
}
#featuredCategories{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
    margin-top: 35px;
}
.categoryDiv{
    padding: 15px;
    border-radius: 8px;
}
.categoryDiv:hover{
    box-shadow: rgb(175, 173, 173) 1px 1px 15px 1px;
    transition: 300ms ease-out;
}

.categoryDiv a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}               
.categoryDiv img{
    height: 150px;
    width: 180px;
    border-radius: 8px;
}
.categoryDiv h6{
    font-weight: bold;
    margin-top: 15px;
}

/*----------------CATEGORIES PAGE---------------*/

.index{
    margin: 1% 0 2% 25%;
}
#orderSelect{
    margin: 0 0 0 75%;
}
#allProducts{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 3% 0 0 25%;
}
.product-div{
    width: 270px;
    border: solid lightgrey 1px;
    border-radius: 8px;
    padding: 30px 10px 80px 10px;
    margin: 10px;
}
.product-div:hover{
    border: solid rgb(223,0,0) 1px;
    box-shadow: rgb(175, 173, 173) 1px 1px 15px 1px;
    transition: 200ms ease-in-out;
}
#prevPrice{
    text-decoration:line-through;
}
#discPrice{
    font-weight: 700;
    color: rgb(223,0,0); 
}
#iconPrice{
    font-weight: 700;
    color: black; 
}
a{
    color: black;
    text-decoration: none;
}
.product-image{
    height: 200px;
    width: 240px;
    margin: 0 0 30px 0;
}

/*-----------------DETAILS PAGE--------------------------*/

#productDetPageDiv{
    width: 75%;
    margin: 0% auto;
} 
.index2{
    margin: 50px 0;
}
#productMainDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#mainImg{
    height: 320px;
    margin: 30px 0;
}
#productPictures{
    display: flex;
}
#productPictures img{
    width: 130px;
    margin: 0 0 30px 30px ;
}
#priceDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2%;
}
.discPrice{
    font-style: italic;
    font-size: 38px;
    font-weight: 800;
    color: rgb(223,0,0);
    margin: 0 0 30px 0
}
.price{
    font-size: 38px;
    font-weight: 800;
    color: black; 
    margin: 0 0 0px 0
}
#financeDiv{
    height: 80px;
    width: 450px;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    background-color: rgb(240,240,240);
    border-radius: 4px;
    padding: 10px;
    margin: 5% 0;
}

#buyDiv button{
    height: 50px;
    width: 600px;
    font-size: 22px;
    font-weight: 700;
    background-color: rgb(223,0,0);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 5% 0 0 0;
}
#buyDiv button:hover{
    background-color: rgb(250, 250, 250);
    color: rgb(223,0,0);
    box-shadow: rgb(209, 208, 208) 1px 1px 8px 1px;
    transition: 200ms ease-in-out;
}
#descriptionPicture{
    margin: 10% 0 0 0;
}
.description-text{
    margin: 15px 0;
}
/*--------------CART----------------*/
#cartBody{
    width: 1200px;
    margin: 0% auto;
}
#cartMaindiv{
    display: flex;
}
#cartTitle{
    font-weight: 700;
    margin-top: 5%;
}
#cartLength{
    font-size: 14px;
    color: rgb(161, 158, 158);
}
.cart-productdiv{
    display: flex;
    align-items: center;
    width: 790px;
    border: solid lightgray 1px;
    border-radius: 8px;
    padding: 10px 50px;
    margin: 20px 0;
}
.cart-productpic{
    width: 250px;
    height: 200px;
    
}
.cart-proddetails{
    margin: 0 40px;
}
.cart-prod-price{
    display: flex;
    align-items: center;
}
.cart-price{
    font-size: 20px;
    font-weight: 600;
    margin-right: 15px;
}
.cart-original-price{
    text-decoration: line-through;
    font-size: 15px;
}
.cart-prod-buttons{
    display: flex;
}
.delete-button{
    background-color: white;
    border-radius: 5px;
    margin-right: 15px;
}
.cart-productquantity{
    display: flex;
    justify-content: center;
    width: 70px;
    border: solid black;
    border-radius: 5px;
}
.cart-productquantity button{
    border: none;
    background-color: white;
}
#cartResume{
    height: 500px;
    border: lightgray solid 1px;
    border-radius: 8px;
    margin-left: 25px;
    margin-top: 20px;
    padding: 15px;
}
#cartResume div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*-----------FOOTER-----------------*/
footer{
    height: 550px;
    margin-top: 50px;
    padding: 80px 0;
    color: grey;
    background-color: rgb(81, 79, 79);
}
footer section{
    display: flex;
}
#footer-imgs{
    margin-left: 200px;
}
#footer-imgs>img{
    width: 90px;
    height: 60px;
    margin: 0 30px 80px 0;
    border-radius: 8px;
}
footer h3{
    margin-bottom: 15px;
    color: rgb(163, 159, 159);
}
#help{
    margin-right: 140px;
    margin-left: 200px;
}
footer div{
    margin: 0 3%;
}
footer a{
    display: block;
    color: rgb(163, 159, 159);
    text-decoration: none;
    font-size: 14px;
    margin: 5px 0;
}
